<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Анализ текста</title>
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="css/my_css.css">
</head>
<body>
<div class="overlay">
    <form action="/sign_in_user" method="post">
        <div class="con">
            <header class="head-form">
                <h2>Вход</h2>
                <p>Введите логин и пароль</p>
            </header>
            <br>
            <div class="field-set">
             <span class="input-item">
               <i class="fa fa-user-circle"></i>
             </span>
                <input class="form-input" type="text" placeholder="@UserName" name="login" required>
                <br>
                <span class="input-item">
                    <i class="fa fa-key"></i>
                </span>
                <input class="form-input" type="password" placeholder="Password" name="password" required>
                <span>
                    <i class="fa fa-eye" aria-hidden="true" type="button"></i>
                </span>
                <br>
                <p style="color: #f00;">{{status}}</p>
                <br>
                <button class="log-in">Вход</button>
            </div>

        </div>
    </form>
</div>
</body>
</html>